.trTask:hover {
    background: rgba(111, 111, 236, 0.9);
    transition: .70s;
}

.textAreaTask {
    width: 100%;
    height: 100px;
    outline : none;
    resize : none;
    
}

.deleteTask:hover {
    background: red;
    transition: .55s;
}

.textAreaName {
    width: 70%;
    height: 100px;
    outline : none;
    resize : none;
}